@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neo-bg text-black;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }
  
  .text-stroke-white {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
}
